h1 {
    text-align: center
}

#translated,
#untranslated {
    width: 48%
}

#translated{
    float: right;
    padding-left: 1%;
}

#untranslated{
    float: left;
    padding-right: 1%;
}


#translated h2,
#untranslated h2 {
    text-align: center
}
