/*-----------Page Styles----------------*/
body {
  font-family: 'Merriweather', serif;
  background-color: #eff0f0;
  color: #525252;
  background: url(../img/concrete_seamless.png); 
}

button,
.modal-content {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#translate_textarea {
    /*need so text form takes precedence over modal*/
    z-index: 9999;
}

#homepage_display {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar {
  height: 60px;
  margin-bottom: 0;
  background-color: white;
}

.edit_text {
    border: 1px solid yellow;
}

.btn .edit_text {
    float: left;
    border: 1px solid red;
}
#homepage_display {
    background-color: rgba(255, 255, 255, 0.9);
}

/*----------------explore page -------------------*/

.float-book-imgs {
  width: auto;
  height: 360px !important;
}

.thumbnail {
  border: none;
}
.explore-header {
  position: relative;
  background-color: #31c8cb;
  height: 300px;

}
.header-text {
  color: white;
  margin-top: 100px;
  text-align: center;
  font-size: 70px;
  bottom: 50px;
  z-index: 1000;
  /*text-shadow: 3px 5px 4px rgba(0,0,0,0.3);*/
}
/*-----------Book Description Page----------------*/
/*.explore-header {
  position: relative;
  background: url(../img/cover13.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}*/


.full-container {
  background-color: white;
  margin-top: 20px;
}

.title-rating h2 {
  padding: 0;
  margin: 0px;
  font-size: 35px;
}

.title-rating h3,
.title-rating h4 {
  font-family: 'Merriweather Sans', sans-serif;
}

hr {
  margin: 30px 0;
}

#book_rating h3 {
  font-size: 30px;
  color: #222
}

#book_excerpt p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-style: italic;
}

.quotation img {
  width: 18px;
  height: 20px;
  margin-right: 10px;
}

.quotation {
  float: left;
}
.book-description {
  margin-top: 15px;
}

.title-rating {
  margin-top: 30px;

}

.translate-book-btn {
  color: white;
  background-color: #31c8cb;
  width: 70%;
  height: 50px;
}

.description-header {
  margin: 40px 0;
  text-align: center;
}

.book-user-group {
  height: 300px;
  float: left;
  margin-left: 6%;
  margin-top: 6%;
  background-color: #eff0f0;
  text-align: center;
}

.book-img-list {
  background-color: white;
  padding-top: 50px;
}

/*-----------Profile Page----------------*/

.user-intro {
  height: 300px;
  background: url(../img/cover4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

}

.user-intro h3 {
    font-size: 60px;
    margin-top: 20px;
    color: #31c8cb;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.user-intro p {
  font-size: 40px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.greeting-info {
  background-color: white;
  height: 90px;
}
  .greeting-info h2 {
    margin-top: 30px;
    font-size: 20px;
  }

.profile-header {
  background-color: #eff0f0;
}
  .profile-header h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    /*height: 50px;*/
    background-color: #31c8cb;
  }
.profile-collaborators {
  background-color: #262626;
}
  .profile-collaborators h2 {
    color: white;
    margin-top: 20px;
    text-align: center;
  }

.profile-groups-section {
  background-color: #efefef;
}

.profile-groups {
  height: 200px;
  background-color: white;
  margin-top: 20px;
  border-radius: 2%
}

.profile-btn {
  background-color: #31c8cb;
  float: right;
}
.author-emphasis {
  color: #31c8cb;
}

.profile-collab-btns {
  width: 200px;

}
/*-----------Translation Page----------------*/
.book_rendering {
  background-color: white;
}

#user_controls_row {
    margin-top: 0px;
    background-color: #525252;
    color: white;
}

.book-info h2 {
  text-align: center;
}

.leave-group-modal-btn {
  color: white;
  background-color: #31c8cb;
  width: 70%;
  height: 50px;
}
.collab_info h3 {
  display: inline-block;
}
.leave-dropdown {
  display: inline-block;
}
#chap_sel {
  width: 70%;
}

div#user_controls,
div#collab_info {
    padding-top: 40px;
}

.current-collaborators {
  list-style-type: square;
}

#user_controls h4,
#user_controls h4,
#collab_info li {
    font-family: 'Merriweather Sans', sans-serif;
}

.untranslated {
  border-right: 5px solid #eff0f0;
}

.translated {
  border-left: 5px solid #eff0f0;
}


/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}

.ghost-button {
/*display: inline-block;*/
float: left;
margin-left: 10px;
width: 200px;
padding: 8px;
color: #fff;
border: 1px solid #fff;
text-align: center;
outline: none;
text-decoration: none;
margin-top: 30px;
background-color: transparent;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
