h1 {
    text-align: center
}

#translate_textarea {
    z-index: 9999;
}
/*.trans_para,
.untranslated {
    width: 48%
}

.trans_para{
    float: right;
    padding-left: 1%;
}

.untranslated{
    float: left;
    padding-right: 1%;
}

*/
/*#translated h2,
#untranslated h2 {
    text-align: center
}
*/

