<!DOCTYPE html>
<html class="full">
<head>
    <!-- stylesheets -->

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>




    <script type="text/javascript" src="/static/js/main.js"></script>

    <title>Gutenberg Translate</title>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gutenberg Translate</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/explore">Explore Books</a></li>
            {% if session.get('login') %}
            <li><a href="/profile/{{ session['login'][1] }}">Your Translations</a></li>
            {%endif%}
            <li><a href="#">How It Works</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session.get('login') %}
            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{ session['login'][0] }} <span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="/profile/{{ session['login'][1] }}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Signout</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="/">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="block" class="container">
        <!-- Main content of the page is inserted in block body -->
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>