{% extends 'base.html' %}

{% block body %}

<div id="login" class="row col-md-3.5 col-sm-12">
    {% if session.get("login") %}
        <h2>Logout</h2>
        <p>
            <a href="/logout">Logout</a>
        </p>
    {% else %}

    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul id="logintabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="signin_tab active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sign In</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <form id="login_form" action="/login" method="POST">
                <div class="form-group">
                    <p>Username</p>
                     <input type="text" name="username_input">
                </div>
                <div class="form-group">
                    <p>Password</p>
                     <input type="password" name="password_input">
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Login</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <form id="register_form" action="/register" method="POST">
                <div class="form-group">
                    <p>Username:</p>
                     <input type="text" name="username_input">
                </div>
                <div class="form-group">
                    <p>Email:</p>
                    <input type="text" name="email_input">
                </div>
                <div class="form-group">
                    <p>Password</p>
                     <input type="password" name="password_input">
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Register</button>
            </form>
        </div>
      </div>
    </div>
    {% endif %}
</div>



{% endblock %}