{% extends 'base.html' %}

{% block body %}
    <h1>Homepage</h1>
    {% if session.get("login") %}
        <h2>Logout</h2>
        <p>
            <a href="/logout">Logout</a>
        </p>
    {% else %}
        <h2>Sign In</h2>
        <form id="login_form" action="\login" method="POST">
            <label>Username
                <input type="text" name="username_input">
            </label><br>
            <label>Password
                <input type="text" name="password_input">
            </label><br>
            <input type="submit" value="Login">
        </form>

        <h2>Sign Up</h2>
        <form id="register_form" action="\register" method="POST">
            <label>Username: 
                <input type="text" name="username_input">
            </label><br>

            <label>Email:
                <input type="text" name="email_input">
            </label><br>

            <label>Password:
                <input type="text" name="password_input">
            </label><br>
            <input type="Submit" value="Register">
        </form>
    {% endif %}


{% endblock %}