{% extends 'base.html' %}
{% block body %}

<div class="container">
<div class="row profile-image">
    <div class="col-xs-9 user-intro">
        <h1>{{ username }}'s Profile</h1>
    </div>
    <div class="col-xs-3 col-offset-9 user-info">
        <i class="fa"></i>
        <h3>{{ username }}</h3>
        <p>{{ username }} has contributed to {{ project_num }} projects</p>
    </div>
</div>

<div class="row">
<h2>Projects</h2>

    <ul>
        {% for group in user_groups_list %}
        <li>{{ group.group_name }}
            <ul>
                {% for book in group.books %}
                <li>Title: {{ book.name }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for bookgroup in group.bookgroups %}
                <li>Language: {{ bookgroup.language }}</li>
                {% endfor %}
            </ul>
            <ul>
                <li>Collaborators</li>
                {% for user in group.users %}
                <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <h2>Collaborators</h2>
    <ul>
        {% if all_collaborators %}
        {% for collaborator in all_collaborators %}
        <li> 
            <a href="/profile/{{ collaborator.user_id }}">{{ collaborator.username }}</a>
        </li>
        {% endfor %}
        {% else %}
        <p>You have no collaborators yet. Go explore!</p>
        {% endif %}
    </ul>
</div>

</div>
{% endblock %}