{% extends 'base.html' %}

{% block body %}
    <h1>Translation Page</h1>

    <div id="user_controls">
        <h3>{{ book_obj.name }} by {{ book_obj.author }} in {{ language }}</h3>
        <form action="/translate/{{ book_id }}/render" method="GET">
            <label>Chapter:
                <select name="chapter_selection">
                    {% for chapter_number in range(1, number_of_chapters) %}
                    {% if chapter_number == chapter_chosen %}
                    <option value="{{ chapter_number|string() }}" selected="selected">Chapter {{ chapter_number }}</option>
                    {% else %}
                    <option value="{{ chapter_number|string() }}">Chapter {{ chapter_number }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </label>
            <input type="hidden" value="{{ book_id }}" name="hidden_bookid_input">
            <input type="hidden" value="{{ language }}" name="hidden_lang_input">
            <input type="hidden" value="{{ group_id }}" name="hidden_groupid_input">
            <input id="chosen_chap_submit" type="submit">
        </form>
    </div>

    <div id="untranslated">
        {% if chapter_chosen %}
        <h2>Chapter {{ chapter_chosen }}</h2>
        {% else %}
        <h2>Chapter 1</h2>
        {% endif %}

        {% for paragraph in display_chapter %}
        <div class="a_chapter_and_bttn {{ paragraph.paragraph_id }}">
            <p>{{ paragraph.untranslated_paragraph }}</p>
            <button class="edit_text" data-paragraphid="{{ paragraph.paragraph_id }}"> Edit
            </button> 
        </div>
        {% endfor %}
    </div>



    <div id="translated" data-bookid ="{{ book_obj.book_id }}" data-bookgroupid ="{{ bookgroup_id }}"data-language="{{ language }}" data-groupid="{{ group_id }}">
        <h2>Translated Text</h2>

        {% for paragraph in display_chapter %}
        <div class="trans_para" id="{{ paragraph.paragraph_id }}">
            {% if display_translations %}
                {% for existing_translation in display_translations %}
                    {% if existing_translation.paragraph_id == paragraph.paragraph_id %}
                        <p>{{ existing_translation.translated_paragraph }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        <form name="text_form" method="POST" action="/save_text" id="translate_textarea">
            <label>Translate :<br>
                <textarea name="translated_text" id="text_form_ta" cols="40" rows="20" placeholder="Enter text here!" required></textarea>
            </label><br>
            <input type="hidden" name="hidden_book_id_input" value="{{ book_id }}">
            <!-- <button>Delete</button> -->
            <input type="button" value="submit" id="submit_bttn">

        </form>


    </div>


{% endblock %}