{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row" id="user_controls_row" data-username = "{{ session['login'][0]}}">
        <div class="col-xs-5 col-xs-offset-1" id="user_controls">
            <h3>{{ book_obj.name }}</h3>
            <h4>{{ book_obj.author }}</h4>
            <h5>{{ language }}</h5>
            {% if number_of_chapters != 1 %}
            <form id="chosen_chap_form" method="GET">
                <div class="form-group">
                    <select name="chapter_selection" class="form-control" id="chap_sel">
                        {% for chapter_number in range(1, number_of_chapters) %}
                        {% if chapter_number == chapter_chosen %}
                        <option value="{{ chapter_number|string() }}" selected="selected">Chapter {{ chapter_number }}</option>
                        {% else %}
                        <option value="{{ chapter_number|string() }}">Chapter {{ chapter_number }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" value="{{ bookgroup_id }}" name="bookgroup_id_input">
                <input type="hidden" value="{{ book_id }}" name="hidden_bookid_input">
                <input type="hidden" value="{{ language }}" name="hidden_lang_input">
                <input type="hidden" value="{{ group_id }}" name="hidden_groupid_input">
            </form>
            {% endif %}
        </div>
        <div class="col-xs-5 col-xs-offset-1" id="collab_info">
            <h3>{{ group_name }}</h3>
            <div class="leave-dropdown dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    {% if collab_user_num > 1 %}
                    <li><a href="#" data-toggle="modal" data-target="#confirm_leave">
                        Leave Group
                    </a></li>
                    {% else %}
                    <li><a href="#" data-toggle="modal" data-target="#confirm_delete">
                        Delete Book
                    </a></li>
                    {%  endif %}
              </ul>
            </div>
            <h4>Collaborators</h4>
            <ul class="current-collaborators">
                {% for user in group_collab_users %}
                {% if user.user_id == session['login'][1] %}
                <li class="current_user_session a-collab"><span>{{ user.username }}</span></li>
                {% else %}
                <li class="a-collab"><span>{{ user.username }}</span></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div>
        <div class="modal fade" id="confirm_leave" tabindex="-1" role="dialog" 
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title text-center">
                        Confirm
                    </h1>
                </div>

                <div class="modal-body" id="translation_form">
                    <p>Are you sure you want to leave this group?</p>
                </div>
                    <a href="{{ url_for('leave_group', group_id_input = group_id) }}" class="btn btn-danger" role="button">I'm Sure</a>
                <div class="modal-footer">
                    <div>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" 
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title text-center">
                        Confirm
                    </h1>
                </div>

                <div class="modal-body" id="translation_form">
                    <p>
                        Are you sure you want to leave to delete this book? <br>
                        This cannot be undone.
                    </p>
                </div>
                    <a href="{{ url_for('delete_group', group_id_input = group_id, book_id_input= book_id, language_input = language ) }}" class="btn btn-danger" role="button">I'm Sure</a>
                <div class="modal-footer">
                    <div>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
<!-- in description -->
    <div class="book-info">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {% if chapter_chosen %}
                <h2>Chapter {{ chapter_chosen }}</h2>
                {% else %}
                <h2>Chapter 1</h2>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>Translations</h2>
            </div>
        </div>
    </div>


    <div id="wrapper">
        <div class="modal fade" id="add_translation_section" tabindex="-1" role="dialog" 
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title text-center">
                        Translation
                    </h1>
                </div>

                <div class="modal-body" id="translation_form">
                    <div class="row">
                    <div id="current_untans_text" class="col-xs-6">
                        <p></p>
                    </div>
                    <form name="text_form" method="POST" action="/save_text"
                        id="translate_textarea" data-bookgroupid = "{{ bookgroup_id }}"
                        class="col-xs-6">
                        <div class="form-group">Translate:<br>
                            <textarea name="translated_text" id="text_form_ta"
                            placeholder="Enter text here!" required></textarea>
                        </div><br>
                        <input type="hidden" name="hidden_book_id_input" value="{{ book_id }}">
                        <input type="button" value="submit" id="submit_bttn" data-dismiss="modal" class="btn btn-primary btn-sm btn-block">
                    </form>
                    </div>
                </div>

                <div class="modal-body" id="error_translation_in_progress">
                    <p>A user is already translating this paragraph.</p>
                </div>

                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button class="btn" id="cancel_translation_btn" data-dismiss="modal" aria-hidden="true">
                            Cancel
                        </button>
                        <button class="btn" id="confirm" data-dismiss="modal" aria-hidden="true">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
          </div>
        </div>

        {%  for paragraph in display_chapter %}
        <div class="book_rendering row">
            <div class="untranslated col-xs-6">
                <div class="a_chapter_and_bttn {{ paragraph.paragraph_id }}">
                    <p data-paragraphid="{{ paragraph.paragraph_id }}" data-toggle="modal"
                            data-target="#add_translation_section">
                        {{ paragraph.untranslated_paragraph }}
                    </p>
                </div>
            </div>

            <div class="trans_para col-xs-6" id="{{ paragraph.paragraph_id }}">
                {% if display_translations %}
                    {% for existing_translation in display_translations %}
                        {% if existing_translation.paragraph_id == paragraph.paragraph_id %}
                            <p>{{ existing_translation.translated_paragraph }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <script type="text/javascript" src="/static/js/translations.js"></script>
{% endblock %}