{% extends 'base.html' %}

{% block body %}
    <h1>Translation Page</h1>

    <div id="user_controls">
        <h3>{{ book_obj.name }} by {{ book_obj.author }} in {{ language }}</h3>
        <form action="/translate/{{ bookgroup_id }}/render" method="GET">
            <label>Chapter:
                <select name="chapter_selection">
                    {% for chapter_number in range(1, number_of_chapters) %}
                    {% if chapter_number == chapter_chosen %}
                    <option value="{{ chapter_number|string() }}" selected="selected">Chapter {{ chapter_number }}</option>
                    {% else %}
                    <option value="{{ chapter_number|string() }}">Chapter {{ chapter_number }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </label>
            <input type="hidden" value="{{ book_id }}" name="hidden_bookid_input">
            <input type="hidden" value="{{ language }}" name="hidden_lang_input">
            <input type="hidden" value="{{ group_id }}" name="hidden_groupid_input">
            <input id="chosen_chap_submit" type="submit">
        </form>
    </div>

    <div class="book-info container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {% if chapter_chosen %}
                <h2>Chapter {{ chapter_chosen }}</h2>
                {% else %}
                <h2>Chapter 1</h2>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>Translations</h2>
            </div>
        </div>

    </div>


    <div class="container-fluid">
        {%  for paragraph in display_chapter %}
        <div class="book_rendering row">
            <div class="untranslated col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="a_chapter_and_bttn {{ paragraph.paragraph_id }}">
                    <p>{{ paragraph.untranslated_paragraph }}</p>
                    <button class="edit_text" data-paragraphid="{{ paragraph.paragraph_id }}"> Edit
                    </button> 
                </div>
            </div>

            <div class="trans_para col-xs-6 col-sm-6 col-md-6 col-lg-6" id="{{ paragraph.paragraph_id }}">
                {% if display_translations %}
                    {% for existing_translation in display_translations %}
                        {% if existing_translation.paragraph_id == paragraph.paragraph_id %}
                            <p>{{ existing_translation.translated_paragraph }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <form name="text_form" method="POST" action="/save_text"
            id="translate_textarea" data-bookgroupid = "{{ bookgroup_id }}">
            <label>Translate :<br>
                <textarea name="translated_text" id="text_form_ta" cols="40" rows="20" placeholder="Enter text here!" required></textarea>
            </label><br>
            <input type="hidden" name="hidden_book_id_input" value="{{ book_id }}">
            <!-- <button>Delete</button> -->
            <input type="button" value="submit" id="submit_bttn">

        </form>
    </div>


<!--     <form name="text_form" method="POST" action="/save_text"
        id="translate_textarea" data-bookgroupid = "{{ bookgroup_id }}">
        <label>Translate :<br>
            <textarea name="translated_text" id="text_form_ta" cols="40" rows="20" placeholder="Enter text here!" required></textarea>
        </label><br>
        <input type="hidden" name="hidden_book_id_input" value="{{ book_id }}">
        <input type="button" value="submit" id="submit_bttn">
    </form> -->
{% endblock %}